<!DOCTYPE html>
<html>

<head>
<title>Smart AI Food Advisor</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>


<body>

<div class="header">

<div class="logo">
🥗 Smart AI Food Advisor
</div>

<div class="nav">
<a href="/login">Login</a>
</div>

</div>


<div class="main">

<div class="text">

<h1>AI Nutrition Tracking at Your Fingertips</h1>

<p>
Smart AI Food Advisor helps you analyze your meals,
calculate nutrition values, and receive health advice
based on BMI and food intake.
</p>

<button class="start-btn" onclick="window.location.href='/login'">
Get Started
</button>

</div>

<div class="image">
<img src="/static/uploads/images.jpg" id="foodImageMove">
</div>

</div>



</body>
</html>
